@mixin theme {
  --genshi-background-color: var(--genshi-black);
  --genshi-foreground-color: var(--genshi-white);
  --genshi-link-color: var(--genshi-cyan-200);
  --genshi-mark-color: white;
  --genshi-mark-bg-color: var(--genshi-orange-700);
  --genshi-kbd-bg-color: var(--genshi-gray-800);
  --genshi-pre-code-bg-color: var(--genshi-cyan-900);
  --genshi-button-accent: var(--genshi-foreground-color);
  --genshi-bold-button-accent: var(--genshi-teal-800);
  --genshi-button-suggested-accent: var(--genshi-cyan-200);
  --genshi-bold-button-suggested-accent: var(--genshi-cyan-800);
  --genshi-button-destructive-accent: var(--genshi-red-200);
  --genshi-bold-button-destructive-accent: var(--genshi-red-600);
  --genshi-form-valid-accent: var(--genshi-green-200);
  --genshi-form-invalid-accent: var(--genshi-red-200);
  --genshi-form-checkbox-accent: var(--genshi-blue-300);
}
