// Adds modifiers that allow configuring the size of a gap.
// Default: 1rem
// Cozy (--cozy): 1.5rem
// Compact (--compact): 0.5rem
// Gap-less (--gapless): 0
@mixin gap-density {
  & {
    --genshi-density-gap: 1rem;

    gap: var(--genshi-density-gap);
  }

  &--gapless {
    --genshi-density-gap: 0;
  }

  &--compact {
    --genshi-density-gap: 0.5rem;
  }

  &--cozy {
    --genshi-density-gap: 1.5rem;
  }
}
