// Style definitions that affect the entire document layout
// and structure, such as positioning, margin, padding...

*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(body) {
  margin: 0;
  padding: 0;
  background: var(--genshi-background-color);
  color: var(--genshi-foreground-color);
}

:where(h1),
:where(h2),
:where(h3),
:where(h4),
:where(h5),
:where(h6) {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

:where(p),
:where(ul),
:where(ol),
:where(dl) {
  margin-top: 0;
  margin-bottom: 1rem;
}

:where(li) {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

:where(hr) {
  height: 0;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid oklch(from var(--genshi-foreground-color) l c h / 50%);
}

:where(pre) {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
