// Columns
// =======
// Use this component to render multiple HTML nodes using columns.

// One thing to notice is that flex is always enabled in cols, even in mobile
// mode. However, on mobile, the flex is set to column to stack vertically
// the elements. This is done to keep the stacked columns separated by a gap.
// Otherwise, the last element of a column and the first element of the next
// column will be too close.

@use "../traits";
@use "../theme/responsive";

.GenshiCols {
  --genshi-cols-direction: column;

  display: flex;
  flex-direction: var(--genshi-cols-direction);
  margin-bottom: 1rem;

  & > * {
    flex: 1;
  }

  @include responsive.on-flow {
    --genshi-cols-direction: row;
  }

  @include traits.gap-density;
}
