@use "../theme/responsive";
@use "../traits";

.GenshiStack {
  display: flex;
  flex-flow: wrap row;
  gap: 1rem;
  align-items: start;
  margin-bottom: 1rem;

  @include traits.gap-density;

  &--end {
    justify-content: end;
  }

  &--between {
    justify-content: space-between;
  }

  &--center {
    justify-content: space-evenly;
  }

  &--v {
    flex-direction: column;
  }

  &--hr {
    flex-direction: row-reverse;
  }

  &--vr {
    flex-direction: column-reverse;
  }
}
