@use "sass:map";
@use "sass:math";
@use "../theme/responsive";

.GenshiWrapper {
  margin-right: responsive.$wrapper-width;
  margin-left: responsive.$wrapper-width;

  @each $breakpoint, $config in responsive.$breakpoints {
    @media screen and (min-width: map.get($config, "breakpoint")) {
      @if map.get($config, "style") == "fluid" {
        margin-right: responsive.$wrapper-width;
        margin-left: responsive.$wrapper-width;
      } @else if map.get($config, "style") == "fixed" {
        // Derive width from the breakpoint parameters:
        // breakpoint - 2 * 16px * base
        $margin: 16px * (1 + map.get($config, "base"));
        $viewport: map.get($config, "breakpoint") - 2 * $margin;

        width: $viewport;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  &--breath {
    margin-top: responsive.$wrapper-width;
    margin-bottom: responsive.$wrapper-width;
  }

  &--fluid {
    width: initial;
    margin-right: responsive.$wrapper-width;
    margin-left: responsive.$wrapper-width;
  }
}
